body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  
}


.App {
  text-align: center;
  background-color: #fff;
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* page animation effect */

.container {
  animation: fade-in 0.5s ease-in-out; /* Fade in animation */
}

.form-control,
.btn, .card {
  animation: slide-up 0.5s ease-in-out; /* Slide up animation */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* card hover effect */

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card h3:hover {
  color: #f39c12;
}

.card ul li:hover {
  color: #f39c12;
  cursor: pointer;
}

.card button:hover {
  background-color: #f39c12;
  border-color: #f39c12;
}

a:hover {
  font-weight: bold;
}

/* 
.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.card-body {
  transition: all 0.3s ease-in-out;
}

.card:hover .card-body {
  transform: translateY(10px);
} */
